@charset "utf-8";
/* 字符编码一定要有 */
/* 引入其他的less文件 */
body {
  background-color: #E7E7E7;
}
/* ======变量======== */
body {
  color: #E93223;
}
/* 在 LESS 中，混入是指在一个 CLASS 中引入另外一个已经定义的 CLASS，
就像在当前 CLASS 中增加一个属性一样。 */
.red {
  color: #E93223;
}
.border {
  border: 1px solid #E93223;
}
/* mixin混入 */
.box {
  color: #E93223;
  border: 1px solid #E93223;
}
.redBorder {
  border: 1px solid #aoaoao;
}
/* 嵌套：采用从外到内的选择器嵌套定义，要么采用给特定元素加 CLASS 或 ID 的方式 */
#wjs_banner .carousel-inner > div.item a.img_box {
  background: url("../images/slide_01_2000x410.jpg") no-repeat center center;
  height: 410px;
  /*调用redBorder mixin*/
  display: block;
  border: 1px solid #aoaoao;
  /*调用@mainColor 变量*/
}
#wjs_banner .carousel-inner > div.item a.img_box:hover {
  color: #E93223;
}
#wjs_banner .carousel-inner > div.item a.img_mobile {
  width: 100%;
  display: block;
}
#wjs_banner .carousel-inner > div.item a.img_mobile img {
  width: 100%;
  display: block;
}
/*定义方法 定义传参 和变量一样  但是有默认的值一定要设置 */
/* 编译代码： lessc  my.less  my.css */
/* 把my.less编译成my.css文件 */
