<div class="row">
    <h4 class="page-header text-info">
        系统枚举
    </h4>
    <form class="form-horizontal">
        <div class="col-lg-1 clear-padding">
            <select ng-model="type" class="form-control">
                <option value="">所有相关</option>
                <option value="1">调用Key</option>
                <option value="2">枚举名称</option>
                <option value="3">枚举值名称</option>
            </select>
        </div>
        <div class="col-lg-3 clear-padding">
            <div ce-enter="search" class="input-group">
                <input type="text" class="form-control" ng-model="Name">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="search(false)" type="button">搜索</button>
                </span>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th class="col-sm-2">枚举名称</th>
                <th class="col-sm-2">访问Key</th>
                <th class="col-sm-2">位置</th>
                <th>枚举值</th>
                <th class="col-sm-1"><button ng-click="create()" class="btn btn-primary btn-xs">添加组</button></th>
            </tr>
        </thead>
        <tbody ng-if="!loadingState">
            <tr ng-repeat="item in list">
                <td ng-if="!item.isModified">{{item.Name}}</td>
                <td ng-if="item.isModified"><input type="text" class="form-control" ng-model="item.Name" /></td>
                <td ng-if="!item.isModified">{{item.CallKey}}</td>
                <td ng-if="item.isModified"><input type="text" class="form-control" ng-model="item.CallKey"/></td>
                <td ng-if="!item.isModified">{{item.UserType|enumVals:'EnumUserType'}}</td>
                <td ng-if="item.isModified"><select class="form-control" ng-model="item.UserType" required ng-options="choose.Val as choose.Name for choose in UserTypes"></select></td>
                <td>
                    <a href="javascript:;" ng-click="viewEnums(item)">
                        {{item.Enums|merge:'Name':4:'...'|none:'未添加枚举值'}}<span class="text-success">({{item.Enums.length}})</span>
                    </a>
                </td>
                <td ng-if="!item.isModified">
                    <button type="button" ng-click="remove(item)" class="btn btn-danger btn-xs">删除</button>
                    <button type="button" ng-click="edit(item)" class="btn btn-success btn-xs">编辑</button>
                </td>
                <td ng-if="item.isModified">
                    <button type="button" ng-click="cancel(item)" class="btn btn-danger btn-xs">取消</button>
                    <button type="button" ng-click="save(item)" class="btn btn-success btn-xs">保存</button>
                </td>
            </tr>
        </tbody>
        <tbody ng-if="loadingState">
            <tr>
                <td colspan="8" class="text-center">
                    <img width="60" src="/App/images/loading.gif" />
                </td>
            </tr>
        </tbody>
        <tfoot ng-show="!loadingState">
            <tr>
                <td colspan="8">
                    <div class="pull-right">
                        <div class="pagination-info"><span class="ng-binding">共有{{total}}条</span>， <span class="ng-binding">每页显示：{{size}}条</span></div>
                        <uib-pagination boundary-links="true" total-items="total" ng-model="current" max-size="10" ng-change="search(true)" items-per-page="size"
                                        class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
