
<div class="row" style="margin-left: 2px">
    <h4 class="page-header text-info">
        网站广告管理
    </h4>
    <form class="form-horizontal">
        <div class="col-lg-1 clear-padding">
            <select ng-model="type" class="form-control" ng-change="search(false)">
                <option value="">所有相关</option>
                <option value="1">PC</option>
                <option value="2">iOS</option>
                <option value="3">Android</option>
            </select>
        </div>
        <div class="col-lg-3 clear-padding">
            <div ce-enter="search" class="input-group">
                <input type="text" class="form-control" ng-model="Name" placeholder="搜索关键词：广告标题">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="search(false)" type="button">搜索</button>
                </span>
            </div>
        </div>
    </form>
</div>

<div class="col-lg-10" style="padding-left: 0">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>标题</th>
                <th>状态</th>
                <th>跳转类型</th>
                <th>关联内容标题</th>
                <th>关联URL地址</th>
              

                <th class="col-sm-2"><a href="#/banner/form/" class="btn btn-primary btn-xs">添加广告</a></th>
            </tr>
        </thead>
        <tbody ng-if="!loadingState">
            <tr ng-repeat="item in list">
                <td><a href="javascript:;" ng-click="viewBanner(item)">{{item.Title}}</a></td>
                <td>{{item.State|enumVals:'BannerState'}}</td>
                <td>{{item.Type|enumVals:'BannerImgType'}}</td>
                <td ng-if="item.Type==1"></td>
                <td ng-if="item.Type==2">{{item.ShowVideoName}}</td>
                <td ng-if="item.Type==3">{{item.ShowForumTopic}}</td>
                <td ng-if="item.Type==4">{{item.ShowForumPost}}</td>
                <td>{{item.Url}}</td>
                <td>
                    <button type="button" ng-click="Remove(item)" class="btn btn-danger btn-xs">删除</button>
                    <a href="#/banner/form/{{item.Id}}/current/{{current}}" class="btn btn-success btn-xs">编辑</a>
                </td>
            </tr>
        </tbody>
        <tbody ng-if="loadingState">
            <tr>
                <td colspan="8" class="text-center">
                    <img width="60" src="/App/images/loading.gif" />
                </td>
            </tr>
        </tbody>
        <tfoot ng-show="!loadingState">
            <tr>
                <td colspan="8">
                    <div class="pull-right">
                        <div class="pagination-info">
                            <span class="ng-binding">共有{{total}}条</span>
                            <div class="pagination-info">
                                <select ng-model="pageTotal" class="form-control" ng-change="search(true)">
                                    <option value="5">5条/页</option>
                                    <option value="">10条/页</option>
                                    <option value="20">20条/页</option>
                                    <option value="30">30条/页</option>
                                </select>
                            </div>
                        </div>
                        <div class="pagination-info form-group-sm">跳至<input type="text" class="input-group-sm" ng-model="current" ng-change="search(true)" />页</div>
                        <uib-pagination boundary-links="true" total-items="total" ng-model="current" max-size="10" ng-change="search(true)" items-per-page="pageTotal||10"
                                        class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

