<div class="row">
    <h4 class="page-header text-info">
        食材信息
    </h4>
    <form class="form-horizontal">
        <div class="col-lg-4 clear-padding">
            <div class="col-lg-2 clear-padding">
                <select class="form-control" ng-model="type" required ng-options="choose.Val as choose.Name for choose in categories">
                  <option value="">所有相关</option>  
                </select>
            </div>
            <div ce-enter="search" class="input-group">
                <input type="text" class="form-control" ng-model="Name" placeholder="搜索关键词：食材名称">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="search(false)" type="button">搜索</button>
                </span>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th class="col-sm-1">预览图</th>
                <th class="col-sm-1">食材名称</th>
                <th class="col-sm-1">食材价格</th>
                <th class="col-sm-1">计量单位</th>
                <th class="col-sm-1">条形码</th>
                <th class="col-sm-1">关联视频个数</th>
                <th class="col-sm-1"><a href="#/material/form/" class="btn btn-primary btn-xs">添加食材</a></th>
            </tr>
        </thead>
        <tbody ng-if="!loadingState">
            <tr ng-repeat="item in list">
                <td><a href="javascript:;" ng-click="viewMaterial(item)"><img class="h50" ng-src="{{item.ImgAccessKey}}_240x240.jpg" /></a></td>
                <td>{{item.Name}}</td>
                <td>{{item.Price|currency:'¥'}}</td>
                <td>{{item.Unit|enumVals:'Unit'}}</td>
                <td>{{item.Sn}}</td>
                <td>{{item.Number}}</td>
                <td>
                    <button type="button" ng-click="remove(item)" class="btn btn-danger btn-xs">删除</button>
                    <a href="#/material/form/{{item.Id}}/current/{{current}}" class="btn btn-success btn-xs">编辑</a>
                </td>

            </tr>
        </tbody>
        <tbody ng-if="loadingState">
            <tr>
                <td colspan="8" class="text-center">
                    <img width="60" src="/App/images/loading.gif" />
                </td>
            </tr>
        </tbody>
        <tfoot ng-show="!loadingState">
            <tr>
                <td colspan="8">
                    <div class="pull-right">
                        <div class="pagination-info">
                            <span class="ng-binding">共有{{total}}条</span>
                            <div class="pagination-info">
                                <select ng-model="pageTotal" class="form-control" ng-change="search(true)">
                                    <option value="5">5条/页</option>
                                    <option value="">10条/页</option>
                                    <option value="20">20条/页</option>
                                    <option value="30">30条/页</option>
                                </select>
                            </div>
                        </div>
                        <div class="pagination-info form-group-sm">跳至<input type="text" class="input-group-sm" ng-model="current" ng-change="search(true)" />页</div>
                        <uib-pagination boundary-links="true" total-items="total" ng-model="current" max-size="10" ng-change="search(true)" items-per-page="pageTotal||10"
                                        class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>