<div class="modal-header">
    <h3 class="modal-title">订单信息</h3>
</div>
<div class="modal-body" style="padding:0 2px">
    <uib-tabset>
        <uib-tab heading="基本信息" select="alertMe()" disable="model.isAdd">
            <div ng-include="'/order-base'"></div>
        </uib-tab>
        <uib-tab heading="配送地址" select="alertMe()" disable="model.isAdd">
            <div ng-include="'/order-address'"></div>
        </uib-tab>
        <uib-tab heading="商品信息" select="alertMe()" disable="model.isAdd">
            <div ng-include="'/order-goods'"></div>
        </uib-tab>
        <uib-tab heading="订单事件" select="alertMe()" disable="model.isAdd">
            <div ng-include="'/order-event'"></div>
        </uib-tab>
    </uib-tabset>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-show="isChange" ng-click="callSave()">保存</button>
    <button class="btn btn-success" ng-show="isModify" ng-click="callSaveAddress()">保存</button>
    <button class="btn btn-danger" ng-click="close()">关闭</button>
</div>
