<div class="row">
    <h4 class="page-header text-info">
        角色管理
    </h4>
    <form class="form-horizontal">
        <div class="col-lg-4 clear-padding">
            <div ce-enter="search" class="input-group">
                <input type="text" class="form-control" ng-model="Name" placeholder="搜索关键词：角色名称、与角色关联的系统权限名称">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="search(false)" type="button">{{lang.search}}</button>
                </span>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-lg-9" style="padding-left:0;">
        <table class="table  table-bordered table-striped">
            <thead>
                <tr>
                    <th class="col-sm-2">角色</th>
                    <th>权限</th>
                    <th class="col-sm-2"><button ng-click="append()" class="btn btn-primary btn-xs">添加角色</button></th>
                </tr>
            </thead>
            <tbody ng-show="!loadingState">
                <tr class="pointer" ng-click="checked(item)" ng-repeat="item in list">
                    <td ng-if="!item.isModified">{{item.Name}}</td>
                    <td ng-if="!item.isModified">{{item.Powers|merge:'Name':7:'...'|none:'未关联权限'}}</td>
                    <td ng-if="!item.isModified">
                        <button ng-click="remove(item)" class="btn btn-danger btn-xs">删除</button>
                        <button ng-click="edit(item)" class="btn btn-success btn-xs">编辑</button>
                    </td>
                    <td ng-if="item.isModified"><input type="text" class="form-control" ng-model="item.Name" /></td>
                    <td ng-if="item.isModified"><input ng-click="change(item)" type="text" class="form-control" value="{{item.Powers|merge:'Name':7:'...'}}" /> </td>
                    <td ng-if="item.isModified">
                        <button ng-click="cancel(item)" class="btn btn-danger btn-xs">取消</button>
                        <button ng-click="save(item)" class="btn btn-success btn-xs">保存</button>
                    </td>
                </tr>
            <tbody ng-if="loadingState">
                <tr>
                    <td colspan="8" class="text-center">
                        <img width="60" src="/App/images/loading.gif" />
                    </td>
                </tr>
            </tbody>
            <tfoot ng-show="!loadingState">
                <tr>
                    <td colspan="4">
                        <div class="pull-right">
                            <div class="pagination-info"><span class="ng-binding">共有{{total}}条</span>， <span class="ng-binding">每页显示：{{size}}条</span></div>
                            <uib-pagination boundary-links="true" total-items="total" ng-model="current" max-size="10" ng-change="search(true)" items-per-page="size" class="pagination-sm"
                                            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>