<div class="modal-header">
    <h3 class="modal-title">会员信息</h3>
</div>
<div class="modal-body" style="padding:0 2px">
    <uib-tabset>
        <uib-tab heading="基本信息" disable="model.isAdd">
            <div ng-controller="memberBase" ng-include="'/member-base'"></div>
        </uib-tab>
        <uib-tab heading="财富信息" disable="model.isAdd">
            <div ng-include="'/member-wealth'"></div>
        </uib-tab>
        <uib-tab heading="积分消费日志" disable="model.isAdd">
            <div ng-include="'/member-integralsLogs'"></div>
        </uib-tab>
        <uib-tab heading="辣币消费日志" disable="model.isAdd">
            <div ng-include="'/member-idealMoneyLogs'"></div>    
        </uib-tab>
    </uib-tabset>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="close()">关闭窗口</button>
</div>
